body{
  font-family: Arial, sans-serif;
  margin:0;
  background:#0f172a;
  color:white;
  display:flex;
  justify-content:center;
}

.container{
  width:100%;
  max-width:400px;
  padding:20px;
}

input, button{
  width:100%;
  margin-top:10px;
  padding:12px;
  border:none;
  border-radius:10px;
  font-size:16px;
}

button{
  background:#22c55e;
  color:white;
  font-weight:bold;
}

.card{
  background:#1e293b;
  padding:15px;
  margin-top:15px;
  border-radius:12px;
}

.warning{
  background:#7f1d1d;
}
